<div class="content-side content-side-full">
    <ul class="nav-main">
        <li class="nav-main-heading">User Interface</li>
        <li class="nav-main-item">
            <NavLink class="nav-main-link" href="index">
                <i class="nav-main-link-icon si si-home"></i>
                <span class="nav-main-link-name">Home</span>
            </NavLink>
        </li>
        <li class="nav-main-item">
            <NavLink class="nav-main-link" href="counter">
                <i class="nav-main-link-icon si si-speedometer"></i>
                <span class="nav-main-link-name">Dashboard</span>
            </NavLink>
        </li>
        <li class="nav-main-item">
            <NavLink class="nav-main-link" href="fetchdata">
                <i class="nav-main-link-icon si si-speedometer"></i>
                <span class="nav-main-link-name">Dashboard</span>
            </NavLink>
        </li>
        <li class="nav-main-item">
            <NavLink class="nav-main-link" href="notification-sender">
                <i class="nav-main-link-icon si si-speedometer"></i>
                <span class="nav-main-link-name">Dashboard</span>
            </NavLink>
        </li>
        <li class="nav-main-item">
            <NavLink class="nav-main-link" href="table">
                <i class="nav-main-link-icon si si-link"></i>
                <span class="nav-main-link-name">Tables</span>
            </NavLink>
        </li>
        <li class="nav-main-item">
            <NavLink class="nav-main-link" href="dinamic-component">
                <i class="nav-main-link-icon si si-tag"></i>
                <span class="nav-main-link-name">Formulario</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {

}
