<a class="block block-rounded block-link-pop border-left border-primary border-4x" href="javascript:void(0)">
    <div class="block-content block-content-full">
        <div class="font-size-sm font-w600 text-uppercase text-muted">@Text</div>
        <div class="font-size-h2 font-w400 text-dark">@Value</div>
    </div>
</a>

@code {
    [Parameter] public string Text { get; set; }

    [Parameter] public string Value { get; set; }
}
